extends layouts/main
include mixins/videoBlock

block content
    .home-videos
        each item in videos 
            +videoBlock({
                id:item.id,
                avatar: item.creator.avatarUrl,
                title:item.title,
                views:item.views,
                videoFile:item.fileUrl,
            })