.video__comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .video__comment-number {
    margin-bottom: 5px;
  }
  #jsCommentList {
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      margin-right: 20px;
    }
  }
}
